#heading{
    color: rebeccapurple;
}
.Header{
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
}
.image{
    width: 200px;
}
.nav-items>ul{
    display: flex;
    font-size: 24px;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}
.res-card{
    background-color: #f0f0f0;
    width: 200px;
}
.res-card:hover{
    border: 1px solid black;
}
.search-bar{
    padding: 10px;
}
.res-img{
    margin: 10px;
    width: 90%;
}